@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

:root {
  --primaryColor: rgba(0, 140, 151, 0.7);
  --secondaryColor: rgba(0, 0, 0, 1);
  --primaryFont: "Lobster", cursive;
  --secondaryFont: "Roboto", sans-serif;
  --border-radius: 10px;
}
/* * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: var(--primaryColor);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.header h1 {
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 3rem;
  margin-top: 16px;
  margin-left: 20px;
}

.head-links {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  font-family: var(--secondaryFont);
  margin-right: 40px;
}

.head-links li {
  list-style-type: none;
  font-size: 2rem;
  margin-right: 20px;
}

.head-links a {
  text-decoration: none;
  color: var(--secondaryColor);
}

/* .top-accent {
  background-image: url(./images/codeScreen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 10px;
} */

.top-accent {
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius);
  padding: 10px;
}

.top-accent img {
  width: 100%;
  height: 200px;
  image-rendering: auto;
  border-radius: var(--border-radius);
  opacity: 80%;
}
