@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

:root {
  --primaryColor: rgba(0, 140, 151, 0.9);
  --secondaryColor: rgba(0, 0, 0, 1);
  --thirdColor: rgb(0, 255, 255);
  --primaryFont: "Lobster", cursive;
  --secondaryFont: "Roboto", sans-serif;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/moroccan-flower.png);
}

li,
a,
button {
  font-family: var(--secondaryFont);
  font-size: 2rem;
  color: var(--secondaryColor);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--primaryColor);
  padding: 30px 5%;
}

.logo {
  cursor: pointer;
  font-family: var(--primaryFont);
  margin-right: auto;
  padding: 10px;
  font-size: 3rem;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--thirdColor);
  font-size: 2.5rem;
  border-bottom: 3px solid var(--thirdColor);
  transition: all 0.3s ease 0s;
}

button {
  padding: 10px 25px;
  background-color: var(--secondaryColor);
  color: var(--thirdColor);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  color: var(--secondaryColor);
  background-color: var(--thirdColor);
}

.accent-img {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 100px;
  font-size: 3rem;
  font-family: var(--primaryFont);
  background: var(--primaryColor);
  padding: 1%;
  border-radius: 20px;
}

.accent-img img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}

.about-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 135px;
  width: 80%;
}

.title {
  font-family: var(--primaryFont);
  font-size: 3rem;
  border-right: 3px solid black;
  padding: 20px;
  margin: 30px;
}

.about-me p {
  justify-content: flex-end;
  font-size: 2rem;
  margin-left: 20px;
}

.work {
  position: relative;
  display: flex;
}

.work img {
  opacity: 70%;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 375px;
  font-size: 1rem;
  font-family: var(--secondaryFont);
  background: var(--primaryColor);
  padding: 1%;
  border: 2px solid black;
  color: white;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primaryColor);
}

.contact a {
  text-decoration: underline;
}
