@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

:root {
  --primaryColor: rgba(0, 140, 151, 0.9);
  --secondaryColor: rgba(0, 0, 0, 1);
  --thirdColor: rgb(0, 255, 255);
  --primaryFont: "Lobster", cursive;
  --secondaryFont: "Roboto", sans-serif;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/moroccan-flower.png);
}

li,
a,
button {
  font-family: var(--secondaryFont);
  font-size: 2rem;
  color: var(--secondaryColor);
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primaryColor);
  padding-bottom: 30px;
  width: 100%;
}

.logo {
  cursor: pointer;
  font-family: var(--primaryFont);
  padding: 10px;
  font-size: 3rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  /* margin: 10px; */
}

.nav-links li {
  padding: 10px 20px;
  border-bottom: 3px solid black;
  width: 100%;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--thirdColor);
  font-size: 2.5rem;
  border-bottom: 3px solid var(--thirdColor);
  transition: all 0.3s ease 0s;
}

button {
  padding: 10px 25px;
  background-color: var(--secondaryColor);
  color: var(--thirdColor);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 20px;
}

button:hover {
  color: var(--secondaryColor);
  background-color: var(--thirdColor);
}

.accent-img {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 200px;
  font-size: 3rem;
  font-family: var(--primaryFont);
  background: var(--primaryColor);
  padding: 1%;
  border-radius: 20px;
}

.accent-img img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.title {
  font-family: var(--primaryFont);
  font-size: 3rem;
  border-bottom: 3px solid black;
  padding: 20px;
  margin: 30px;
}

.about-me p {
  text-align: center;
  font-size: 2rem;
  padding: 5px;
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work img {
  opacity: 70%;
  margin: 20px;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 375px;
  font-size: 1rem;
  font-family: var(--secondaryFont);
  background: var(--primaryColor);
  padding: 1%;
  border: 2px solid black;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primaryColor);
}

.contact a {
  text-decoration: underline;
  margin: 10px;
}

@media screen and (min-width: 900px) {
  .flex {
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-links {
    flex-direction: row;
    /* justify-content: flex-end; */
    border: none;
  }
  .nav-links li {
    border: none;
  }
  .logo {
    margin-right: auto;
  }

  .about-me {
    flex-direction: row;
    margin: 20px;
  }

  .about-me p {
    text-align: left;
    font-size: 2rem;
    padding: 5px;
  }

  .title {
    border-right: 3px solid black;
    border-bottom: none;
  }

  .work {
    flex-direction: row;
    justify-content: flex-start;
  }

  .contact {
    flex-direction: row;
  }
}
